{% if (form_errors) %}
	<div class="errors"><p>There were errors. Please check your answer.</p></div>
{% endif %}
<form id="p4fb_form" action="{{ form_submit_url }}" method="post">
	{{ fn( 'wp_nonce_field', nonce_action, nonce_name, false, false )|raw }}
	<input type="hidden" name="action" value="{{ action }}">
	<input type="hidden" name="p4_form_id" value="{{ post.ID }}">
	<input type="hidden" name="p4_form_type" value="{{ post.p4_form_form_type }}">
	<div class="">
		<div class="">
			<div class="formblock-flex donations-formsection-info">
				{% for field in post.p4_form_fields %}
					{% if field.type == 'hidden' %}
						{% include [ 'partials/field-'~field.type~'.twig' ] %}
					{% else %}
						{% include [ 'partials/field-'~field.type~'.twig' ] %}
					{% endif %}
				{% endfor %}
				<div class="submit">
					{% include [ 'partials/submit.twig' ] %}
				</div>
			</div>
		</div>
	</div>
</form>
