<fieldset class="p4fb-field p4fb-fieldset">
	<legend>{{ field.label | e('esc_html') }}</legend>
	{% for val,option in field.options %}
		<label class="p4fb-field p4fb-field-{{ field.type | e('html_attr') }} {{ field.name | e('html_attr') }}">
			<input type="checkbox" name="{{ field.name }}[]" value="{{ val | e('html_attr') }}">
			{{ option | e('esc_html') }}
		</label>
	{% endfor %}
	{% if (field.required) %}
		<small>{{ required_message }}</small>
	{% endif %}
</fieldset>
