<label class="p4fb-field p4fb-field-{{ field.type | e('html_attr') }} {{ field.name | e('html_attr') }}">
	<input type="checkbox" name="{{ field.name }}" value="{{ field.value }}"
			{% if  field.current_value == val %}
				checked="checked"
			{% endif %}
	>
	{{ field.label | e('esc_html') }}
	{% if (field.required) %}
		<small>{{ required_mesage }}</small>
	{% endif %}
</label>
