<label class="p4fb-field p4fb-field-{{ field.type | e('html_attr') }} {{ field.name | e('html_attr') }}">
	{{ field.label | e('esc_html') }}
	{% if (field.required) %}
		<small>{{ required_message }}</small>
	{% endif %}
	<select name="{{ field.name }}">
		{% for val, option in field.options %}
			<option
					value="{{ val | e('html_attr') }}"
					{% if  field.current_value == val %}
						selected="selected"
					{% endif %}
			>{{ option | e('esc_html') }}
			</option>
		{% endfor %}
	</select>
</label>
