<div class="form-check-label-block custom-control">
	<input id="{{ field.name }}"
		   name="{{ field.name }}"
		   class="p4fb__field__input p4fb__field__input--checkbox"
		   type="checkbox"
		   value="{{ field.value }}" {{ 'Y' == field.value ? 'checked' : '' }}
			{{ 'on' == field.required ? 'required' : '' }} />
	<label for="{{ field.name }}"
		   class="custom-control-description form-check-label">
		{{ field.label }}
	</label>
</div>
