<div class="p4fb__field p4fb__field-{{ field.type | e('html_attr') }} p4fb__field-{{ field.name | e('html_attr') }}">
	<div class="p4fb__field__element p4fb__field__element--{{ field.type | e('html_attr') }} form-group">
	<textarea
			name="{{ field.name }}"
			class="{{ field.class }}"
			{{ 'on' == field.required ? "required=required" : '' }}
			placeholder="{{ field.label }}"
	>{{ field.value | e('esc_html') }}</textarea>
	</div>
</div>
